.body-wrapper {
  // background-image: url(../../../../assets/images/pexels-pixabay-159107.jpg);
  // background-position: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;

  // width: 100%;
  .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-card {
      margin: 119px 0 100px 0;
      background-color: #1f7cee70;
      height: 525px;
    }

    .inner-wrapper {
      .mat-card-header {
        display: block !important;
      }

      .card-header {
        display: block !important;
      }

      &_login {
        display: grid;
        justify-content: center;
        mat-card-title {
          h4 {
            position: absolute;
            top: 197px;
            left: 208px;
          }
        }
      }
    }
  }
  .login-form {
    margin-top: -27px;
  }
}

img {
  width: 210px !important;
}

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../../../assets/images/pexels-pixabay-159107.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
