.wrapper {
  background-image: url(../../../../../assets/images/holiday.jpg);
  background-position: 100%;
  background-size: cover;
  color: #000000;

  .card-heading {
    position: relative;
    top: 58px;
    left: 257px;
  }

  .search-card-warpper {
    position: relative;
    bottom: 50px;
    margin-bottom: 80px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .hero-text {
    font-size: 38px;
    color: #fff;
    filter: drop-shadow(1px 1px 5px #000);
  }
}
