.wrapper {
  background-image: url(../../../../../assets/images/hendri-lidayani-eAiL5n0Yi0U-unsplash.jpg);
  background-position: 100%;
  background-size: cover;

  .search-card-warpper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.date-wrapper {
  display: inline-flex !important;
}

::ng-deep .ps-quantity {
  // left: 132px !important;

  .mat-form-field-wrapper {
    width: 132px !important;
  }
}

// TODO: rEMOVED RADIUS ON CLASS LEVELS AND ADD BORDER IN BERTWEEN

// .passenger-class {
//   display: inline-block;
// }

// Material override styles
::ng-deep .cdk-overlay-pane {
  position: absolute !important;
  background-color: #fff !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

::ng-deep .mat-radio-checked .mat-radio-inner-circle {
  background-color: #111f44 !important;
}

.dep-destination {
  margin-left: 150px;
}

::ng-deep .mat-form-field-wrapper {
  background-color: rgb(216, 216, 216) !important;
  padding: 10px !important;
  border-radius: 8px;
  width: 260px;
  // margin-left: 35px;
  // margin-top: 25px;
  margin: 25px 0 0 34px;

  .to {
    margin-left: -35px;
  }
}

::ng-deep .material-icons {
  // margin-left: 50px !important;
  // margin-right: 45px !important;
  color: #000 !important;
  margin: 0 45px 0 50px;
  font-size: 33px !important;
}

// ::ng-deep .mat-select {
//   color: #000 !important;
// }
::ng-deep .mat-select-arrow-wrapper {
  color: #000 !important;
}
::ng-deep .mat-select-arrow {
  color: #000 !important;
}
// ::ng-deep .mat-select-placeholder .mat-select-min-line {
//   color: #000 !important;
// }
::ng-deep .mat-form-field-underline {
  background-color: #000000 !important;
  width: 240px !important;
  display: none !important;
}
// ::ng-deep .mat-form-field-subscript-wrapper {
//   color: #000 !important;
// }
::ng-deep .mat-form-field-hint-wrapper {
  color: #000 !important;
}
::ng-deep .mat-form-field-label {
  color: #000 !important;
}
::ng-deep .mat-form-field-label span {
  color: #000 !important;
}
::ng-deep .mat-datepicker-input {
  color: #000 !important;
  font-size: 12px !important;
}
::ng-deep .mat-datepicker-toggle {
  margin-right: -6px;
}
::ng-deep .mat-icon-button {
  color: #000 !important;
}

::ng-deep .mat-select-value {
  color: #000 !important;
}
::ng-deep .mat-select-placeholder .mat-select-min-line {
  color: #000 !important;
}

::ng-deep .departDt {
  .mat-form-field-wrapper {
    width: 130px !important;
  }

  .depart-inner {
    .mat-form-field-wrapper {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 2px solid #9e9999;
    }
  }

  .returnDt {
    position: relative;
    right: 34px;
    .mat-form-field-wrapper {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

::ng-deep .ps-level {
  position: relative;
  right: 38px;

  .mat-form-field-wrapper {
    width: 130px !important;
    border-left: 2px solid #9e9999;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

::ng-deep .passenger-class {
  position: relative;
  /* top: -88px; */
  bottom: 94px;
  /* right: 50px; */
  left: 422px;

  .mat-form-field-wrapper {
    height: 69px;
  }
}

::ng-deep .search {
  position: absolute;
  bottom: 172px;
  left: 900px;
}
