.card {
  margin-top: 15px;
  width: 476px;
  height: 476px;
  // border: 1px solid black;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent !important;
  border-bottom: none !important;
}
