.card {
  background-color: #fff;
}

.card-login {
  margin-top: 15px;
  width: 476px;
  height: 476px;
  // border: 1px solid black;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent !important;
  border-bottom: none !important;
}

// Search card styles
.search-card {
  width: 975px;
  padding-bottom: 30px !important;
  background-color: #fff;
}

// TODO: rePSONSIVE
// @media (max-width: 1280px) {
//   .search-card {
//     width: calc(1200px - 200px);
//     height: calc(400px - 150px);

//     // height: 176px;
//   }
// }
