// .date-wrapper {
//   display: inline-flex !important;
// }

::ng-deep .mat-mdc-card {
  background-color: #fff !important;
  filter: drop-shadow(1px 1px 20px #000);
}
// TODO: rEMOVED RADIUS ON CLASS LEVELS AND ADD BORDER IN BERTWEEN

// .passenger-class {
//   display: inline-block;
// }

// Material override styles
::ng-deep .cdk-overlay-pane {
  position: absolute !important;
  background-color: #fff !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
::ng-deep .mdc-radio__outer-circle {
  // border: 5px solid red !important;
  border: 2px solid gray !important;
}

::ng-deep .mdc-radio__background .mdc-radio__inner-circle {
  border: 5px;
  background-color: #111f44 !important;
}

::ng-deep .mdc-menu-surface--open {
  max-height: 100% !important;
  background-color: #fff;
}

::ng-deep .mat-mdc-option {
  border-bottom: 1px solid #d4d4d48a;
  .mdc-list-item__primary-text {
    color: #000 !important;
  }
}

::ng-deep .mat-mdc-option:hover {
  background-color: rgb(192, 192, 192) !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #0a0a0a;
}

::ng-deep label {
  text-align: center;
  color: #000;
  margin-bottom: 0 !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: rgb(224, 226, 228) !important;
  padding: 5px !important;
  border-radius: 8px;
  width: 200px;
  margin: 25px 0 0 34px;
}

.from {
  width: 198px !important;
}

::ng-deep .to {
  position: relative;
  width: 198px !important;
  right: 37px;
}

.arrows-icon {
  color: #000 !important;
  margin: 0 20px 0 50px;
  font-size: 33px !important;
}

::ng-deep .mat-select-arrow-wrapper {
  color: #000 !important;
}
::ng-deep .mat-select-arrow {
  color: #000 !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #000000 !important;
  width: 240px !important;
  display: none !important;
}
// ::ng-deep .mat-form-field-subscript-wrapper {
//   color: #000 !important;
// }
::ng-deep .mat-form-field-hint-wrapper {
  color: #000 !important;
}
::ng-deep .mdc-floating-label {
  align-items: center !important;
  color: #000 !important;
}
::ng-deep .mat-form-field-label span {
  color: #000 !important;
}
::ng-deep .mat-datepicker-input {
  color: #000 !important;
  font-size: 12px !important;
}
::ng-deep .mat-datepicker-toggle {
  margin-right: -6px;
  color: #000;
}

::ng-deep .mat-icon-button {
  color: #000 !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: #000 !important;
  margin-right: 5px;
}

::ng-deep .mat-mdc-select-value {
  color: #000 !important;
}
::ng-deep .mat-mdc-select-placeholder {
  margin-left: 10px;
  color: #000 !important;
}

::ng-deep {
  .oneway {
    .mat-mdc-text-field-wrapper {
      width: 260px !important;
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      border-right: none !important;
    }
  }
}

::ng-deep {
  .depart-inner {
    width: 100px !important;
    .mat-mdc-text-field-wrapper {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 2px solid #9e9999;
    }
  }
  .returnDt {
    width: 100px !important;
    // position: relative;
    // right: 34px;
    // .mat-mdc-text-field-wrapper {
    //   border-top-left-radius: 0px !important;
    //   border-bottom-left-radius: 0px !important;
    // }
  }
}

::ng-deep .departDt {
  .mat-form-field-wrapper {
    width: 100px !important;
  }

  .returnDt {
    position: relative;
    right: 34px;
    .mat-form-field-wrapper {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .mat-form-field-flex {
    padding: 0.15em 0.75em 0 0.75em !important;
  }
}

::ng-deep .isOneWay {
  position: absolute !important;
  left: 448px !important;
}

::ng-deep .passenger-class {
  position: absolute;
  left: 279px;
  bottom: 45px;
}

::ng-deep .ps-quantity {
  // left: 132px !important;

  .mat-mdc-text-field-wrapper {
    width: 101px !important;
  }
}

::ng-deep .ps-level {
  position: relative;
  right: 38px;

  .mat-mdc-text-field-wrapper {
    width: 101px !important;
    border-left: 2px solid #9e9999;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

::ng-deep .search {
  position: absolute;
  bottom: 136px;
  left: 590px;
}
