<mat-card class="card search-card mb-5 mt-5">
  <mat-card-header>
    <mat-radio-group class="ex" [(ngModel)]="selectedTravelType" [value]="">
      <mat-radio-button
        class="radio-button text-dark mr-2"
        *ngFor="let season of travelType"
        [value]="season"
      >
        {{ season }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-header>
  <mat-card-content>
    <div class="dep-destination">
      <mat-form-field>
        <!-- <mat-label class="mat-lab">From</mat-label> -->
        <mat-select [placeholder]="depature">
          <mat-option *ngFor="let dep of depatures" [value]="dep.name">
            {{ dep.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <span class="material-icons"> sync_alt </span>
      <mat-form-field class="to">
        <!-- <mat-label class="mat-lab">From</mat-label> -->
        <mat-select [placeholder]="destination">
          <mat-option *ngFor="let des of destinations" [value]="des.name">
            {{ des.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="date-wrapper">
        <div class="departDt">
          <mat-form-field class="depart-inner" appearance="fill">
            <mat-label>Depart</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="returnDt" appearance="fill">
            <mat-label>Return</mat-label>
            <input matInput [matDatepicker]="picker1" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <div class="returnDt">
        </div> -->

        <div class="passenger-class">
          <mat-form-field class="ps-quantity">
            <mat-select [placeholder]="passengerPlaceholder">
              <mat-option
                *ngFor="let passenger of passengerQt"
                [value]="passenger"
              >
                {{ passenger }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="ps-level">
            <mat-select [placeholder]="classLevelPlHolder">
              <mat-option *ngFor="let class of classLevel" [value]="class">
                {{ class }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="search">
      <button class="btn primary btn-lg">Search</button>
    </div>
  </mat-card-content>
</mat-card>
