<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <h5 class="mb-4">Flexible booking</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
        inventore. Cumque dignissimos vitae quaerat aperiam
      </p>
      <a href="#" class="read-more">read more</a>
    </div>
    <div class="col-md-4">
      <h5 class="mb-4">Covid-19 information</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
        inventore. Cumque dignissimos vitae quaerat aperiam
      </p>
      <a href="#" class="read-more">read more</a>
    </div>
    <div class="col-md-4">
      <h5 class="mb-4">refunds</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
        inventore. Cumque dignissimos vitae quaerat aperiam
      </p>
      <a href="#" class="read-more">read more</a>
    </div>
  </div>
</div>
