<div class="wrapper">
  <div class="content">
    <app-header></app-header>
    <div class="container-fluid app-contaixner">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
          <ngx-spinner
            bdColor="rgba(0,0,0,0.6)"
            size="medium"
            color="#000"
            type="ball-spin-clockwise"
            [fullScreen]="true"
          >
          </ngx-spinner>
        </div>
      </div>
    </div>
    <!-- Your page content goes here -->
  </div>
  <app-footer></app-footer>
</div>
