<div class="container">
  <div class="summary">
    <ul>
      <li class="summary-trip">CPT - JNB</li>
      <li class="summary-date">
        <span class="material-icons summary-date-icon">date_range</span> 27 Dec
      </li>
      <li class="passengers">1 Adult</li>
    </ul>
  </div>
  <mat-card>
    <mat-card-content class="card">
      <div class="row">
        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon">check_circle</span>
            <span class="promotion-text">Recommended</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>
        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon">check_circle</span>
            <span class="promotion-text">Cheapest</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>

        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon"
              >account_balance_wallet</span
            >
            <span class="promotion-text">Promotion</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>
        <!-- <div class="col-md-3"></div> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
