.summary {
  position: relative;
  right: 38px;
  top: 6px;
  ul li {
    list-style-type: none;
    display: inline;
    // float: left;
    text-align: left;
    // margin-right: 10px;
  }
  ul li:not(:last-child) {
    margin-right: 20px;
  }
  .summary-trip {
    font-weight: bold;
  }

  .summary-date-icon {
    position: relative;
    top: 5px;
  }
}

.mat-mdc-card-content:last-child {
  padding-bottom: 5px !important;
}

.mat-mdc-card-content:last-child {
  padding-top: 5px !important;
}

.promotion-column:not(:last-child) {
  border-right: 1px solid gray;
}

.promotion-icon {
  position: relative;
  top: 7px;
  right: 25px;
}

.promotion-text {
  font-size: 20px;
  font-weight: 500;

  &_price {
    font-size: 17px;
  }
}

// .promotion-column:first-child {
//   background-color: rgba(0, 255, 255, 0.436);
// }

.promotion-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-text-wrapper {
    display: flex;
    align-items: center;
  }

  .material-icons {
    color: rgb(30, 41, 94);
    float: left;
  }
}
