<div class="container">
  <div class="summary">
    <ul>
      <li class="summary_trip">CPT - JNB</li>
      <li class="summary_date">
        <span class="material-icons summary_date-icon">date_range</span> 27 Dec
      </li>
      <li class="summary_passengers">1 Adult</li>
    </ul>
  </div>
  <mat-card class="promotion-card">
    <mat-card-content class="card promotion-card-inner">
      <div class="row">
        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon">check_circle</span>
            <span class="promotion-text">Recommended</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>
        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon">check_circle</span>
            <span class="promotion-text">Cheapest</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>

        <div class="col-md-4 promotion-column">
          <div class="icon-text-wrapper">
            <span class="material-icons promotion-icon"
              >account_balance_wallet</span
            >
            <span class="promotion-text">Promotion</span>
          </div>
          <span class="promotion-recommended promotion-text_price">R1456</span>
        </div>
        <!-- <div class="col-md-3"></div> -->
      </div>
    </mat-card-content>
  </mat-card>
  <!-- Main card -->
  <mat-card class="card flight-route-card" *ngFor="let flight of flights">
    <mat-card-header class="flight-route-card_header">
      <div class="flight-route-card_duration pt-2 pb-2">
        <span>5hrs 30min</span>
      </div>
      <div class="flight-route-card_date pt-2">
        <h6>Depature</h6>
        <span> Fri 26 Dec </span>
      </div>
    </mat-card-header>
    <mat-card-content class="flight-route-card-body">
      <div class="row flight-route-card-body_wrapper">
        <div class="col-md-2 flight-route-card-body_price">
          <span class="flight-price mb-2">R{{ flight.price }}</span>
          <span class="price-text">{{ flight.seatAvailability }}</span>
        </div>
        <div class="col-md-2 flight-route-card-body_departure-time">
          <span class="flight-time">{{ flight.departureDateTime | time }}</span>
          <span class="depature-text">{{ departureDispayString }}</span>
        </div>
        <div class="col-md-1 flight-route-card-body_icon">
          <span class="material-icons">flight</span>
        </div>
        <div class="col-md-2 flight-route-card-body_destination-time">
          <span class="destination-time">{{
            flight.arrivalDateTime | time
          }}</span
          ><span class="destination-text">{{ arrivalDisplayString }}</span>
        </div>
        <div class="col-md-3 flight-route-card-body_button">
          <span class="flight-route-card-body_button_flightNo">{{
            flight.carrierCode + flight.flightNumber
          }}</span>
          <button class="btn primary">Book</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
