.summary {
  position: relative;
  right: 38px;
  top: 6px;
  ul li {
    list-style-type: none;
    display: inline;
    text-align: left;
  }
  ul li:not(:last-child) {
    margin-right: 20px;
  }

  &_trip {
    font-weight: bold;
  }

  &_date-icon {
    position: relative;
    top: 5px;
  }
}

.promotion-card-inner:last-child {
  padding-bottom: 5px !important;
}

.promotion-card-inner:last-child {
  padding-top: 5px !important;
}

.promotion-column:not(:last-child) {
  border-right: 1px solid gray;
}

.promotion-icon {
  position: relative;
  top: 7px;
  right: 25px;
}

.promotion-text {
  font-size: 20px;
  font-weight: 500;

  &_price {
    font-size: 17px;
    font-weight: 400;
  }
}

.promotion-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-text-wrapper {
    display: flex;
    align-items: center;
  }

  .material-icons {
    color: rgb(30, 41, 94);
    float: left;
  }
}

.flight-route-card {
  margin-top: 40px;
  margin-bottom: 20px;
  &_header {
    padding: 0;
    display: block;
    border-bottom: 1px solid #000;
  }

  &_duration {
    font-weight: 500;
    padding-left: 90px;
    border-bottom: 1px solid #000;
    color: rgb(255, 255, 255);
    background-color: #9ad3f2;
  }

  &_date {
    display: flex;
    padding-left: 90px;
    color: rgb(0, 0, 0);
    background-color: #d9d9d9;
    h6 {
      margin-right: 5px;
    }
  }
}

.flight-route-card-body {
  padding: 20px;

  &_wrapper {
    padding-left: 70px;
  }

  &_price {
    display: flex;
    flex-direction: column;

    .flight-price {
      font-size: 22px;
      font-weight: 600;
    }

    .price-text {
      font-size: 16px;
    }
  }

  &_departure-time {
    display: flex;
    flex-direction: column;

    .flight-time {
      font-size: 20px;
      font-weight: 500;
    }

    .depature-text {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &_icon {
    transform: rotate(90deg);
    text-align: center;
    position: relative;
    right: 50px;
    margin: 0 20px;
  }

  &_destination-time {
    display: flex;
    flex-direction: column;

    .destination-time {
      font-size: 20px;
      font-weight: 500;
    }

    .destination-text {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &_button {
    padding: 0;
    display: flex;
    margin-left: 20px;
    &_flightNo {
      font-size: 15px;
      font-weight: 500;
      padding-right: 30px;
      position: relative;
      top: 10px;
    }

    .primary:hover {
      border-color: #000;
    }
  }
}
