/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap";
@use "./assets/scss/components/card";
@use "./assets/scss/components/typography";
@use "./assets/scss/components/form";
@use "./assets/scss/components/buttons";
@use "@angular/material" as mat;
@use "@angular/material/theming";

@include mat.core();

// app-root {
//   position: relative !important;
//   width: inherit !important;
//   height: 100vh !important;
//   left: 0 !important;
//   margin: 0 !important;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
